:root {
    --orange: #FF5740;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.topHeader {
    padding: 15px 0;
    border-bottom: 1px solid #e4f1fb;
    width: 100%;
}

.phoneList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pnoneList li {
    line-height: 1.5em;
    display: inline-block;
    padding-right: 15px;
}

.pnoneList span {
    color: var(--orange);
    padding-right: 10px;
}

.socialList {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15px 0;
    padding: 0 20%;
}

.socialList li {
    margin: 10px;
}

.socialList li a {
    border: 1px solid var(--orange);
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 4px;
    color: var(--orange);
    font-size: 15px;
    transition: background-color .3s ease, color .3s ease;
}

.socialList li a:hover {
    background-color: var(--orange);
    color: white;
}

.logo {
    padding-top: 8px;
}

.mainMenu {
    width: 100%;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 25px;
}

.burger {
    background-color: var(--orange);
    padding: .30rem .80rem;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: .25rem;
    cursor: pointer;
}

.burger > span {
    color: white;
}

.menu {
    display: none;
}

.mobile-menu {
    display: block;
    width: 100%;
    margin-top: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.menu {
    display: none;
    width: 100%;
    margin-top: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.mobile-menu > li, .menu > li {
    margin-top: 15px;
}

.mobile-menu > li > a, .menu > li > a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    transition: color .3s;
}

.mobile-menu > li > a:hover, .menu > li > a:hover {
    color: var(--orange);
}

.menuBtnWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menuBtn {
    display: block;
    width: 150px;
    background-color: #ff6348;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    transition: background-color .3s ease;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
}

#menuBtn:hover {
    background-color: white;
    border: 1px solid #ff6348;
    color: #ff6348;
}

#menuBtn:hover a {
    color: var(--orange);
}

#menuBtn:active {
    outline: none;
}

.menuBtnWrapDesktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .topHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 0;
    }
    .phoneList {
        width: fit-content;
    }
    .socialList {
        width: fit-content;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        display: block;
    }
    .menuBtnWrapDesktop {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .burger {
        display: none;
    }
    .mainMenu {
        padding: 0;
        margin: 0;
    }
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        padding: 15px 5%;
        margin: 0;
    }
    .logo {
        width: fit-content;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: fit-content;
        overflow: auto;
        margin-top: 0;
    }
    #menuBtn {
        margin: 0;
    }
    .menu > li {
        margin: 0;
        padding: 0 15px;
    }
    .menuBtnWrap {
        width: fit-content;
    }
}